﻿@model GetExercises.Web.Models.FilmSearch
@{
    ViewBag.Title = "All Films List";
}

<form method="get" action="@Url.Action("SearchResult", "Film")" class="form-inline">
    <div class="form-group">
        <label for="minimumLength">Minimum Length: </label>
        @Html.TextBoxFor(
                /* 1. Save the value to the MinimumLength property */
                m => m.MinimumLength, 

                /* 2. Add a class="form-control" type="number" to the html */
                new { @class = "form-control", type = "number"})
    </div>
    <div class="form-group">
        <label for="minimumLength">Maximum Length: </label>
        @Html.TextBoxFor(

                /* 1. Save the value to the MinimumLength property */
                m => m.MaximumLength, 
                
                /* 2. Add a class="form-control" type="number" to the html */
                new { @class = "form-control", type = "number" })
    </div>
    <div class="form-group">
        <label for="genre">Genre: </label>
        @Html.DropDownListFor(
       
                /* 1. Save the value in the Genre property*/
                m => m.Genre, 
                
                /* 2. Get all of the drop down values from the Genres property*/
                Model.Genres, 
                
                                
                /* 3. Add a class="form-control" to the html */
                new { @class = "form-control" })        
    </div>
    <input class="btn btn-default" style="margin-top: 25px;" name="search" value="Search" type="submit" />
</form>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Release Year</th>
        <th>Length</th>
        <th>Rating</th>
    </tr>
    @foreach (var film in Model.Results)
    {
        <tr>
            <td>@film.Title</td>
            <td>@film.Description</td>
            <td>@film.ReleaseYear</td>
            <td>@film.Length</td>
            <td>@film.Rating</td>
        </tr>
    }
</table>

