﻿@using Validation.Web.Models;
@model LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Users", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Email)        
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "enter email" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class="form-control", placeholder = "enter password"})
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}