﻿@using Validation.Web.Models;
@model RegistrationViewModel

@{
    ViewBag.Title = "New User Registration";
}

<h2>New User Registration</h2>

@using (Html.BeginForm("Register", "Users", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "enter first name" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "enter last name" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "enter email" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmEmail)
        @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control", placeholder = "confirm email address" })
        @Html.ValidationMessageFor(m => m.ConfirmEmail)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "enter password" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "confirm password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BirthDate)
        @Html.TextBoxFor(m => m.BirthDate, "MM/DD/YYYY", new { @class = "form-control", placeholder = "enter birth date" })
        @Html.ValidationMessageFor(m => m.BirthDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NumberOfTickets)
        @Html.TextBoxFor(m => m.NumberOfTickets, new { @class = "form-control", placeholder = "enter number of tickets" })
        @Html.ValidationMessageFor(m => m.NumberOfTickets)
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}
