﻿@model GetExercises.Web.Models.ActorSearch
@{
    ViewBag.Title = "All Actors List";
}

<form method="get" action="@Url.Action("SearchResult", "Actor")" class="form-inline">
    <div class="form-group">
        <label for="minimumLength">Last Name: </label>
        @Html.TextBoxFor(
                /* 1. Bind the input to the Last Name field. */
                m => m.LastName,

                /* 2. Add a class="form-control" to the html */
                new { @class = "form-control"})
    </div>    
    <input class="btn btn-default" style="margin-top: 25px;" name="search" value="Search" type="submit" />
</form>
<table class="table">
    <tr>
        <th>Name</th>        
    </tr>
    @foreach (var actor in Model.Results)
    {
        <tr>
            <td>@actor.FirstName @actor.LastName</td>            
        </tr>
    }
</table>

