﻿@model GetExercises.Web.Models.CustomerSearch
@{
    ViewBag.Title = "All Customers List";
}

<form method="get" action="@Url.Action("SearchResult", "Customer")" class="form-inline">
    <div class="form-group">
        <label for="Name">Name: </label>
        @Html.TextBoxFor(
                              /* 1. Bind the input to the Name field. */
                              m => m.Name,

                              /* 2. Add a class="form-control" placeholder="Search" to the html */
                              new { @class = "form-control", placeholder = "Search" })
    </div>
    <div class="form-group">
        <label for="SortByColumn">Sort By: </label>
        @Html.DropDownListFor(

                           /* 1. Bind the input to the SortByColumn field. */
                           m => m.SortByColumn,

                           /* 2. Use the Sort Options in the dropdown*/
                           Model.SortOptions,

                          /* 3. Add class="form-control" to the html */
                          new { @class = "form-control" })
    </div>
    <input class="btn btn-default" style="margin-top: 25px;" name="search" value="Search" type="submit" />
</form>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Active</th>
    </tr>
    @foreach (var customer in Model.Results)
    {
        <tr>
            <td>@customer.FirstName @customer.LastName</td>
            <td>@customer.Email</td>
            <td>@(customer.IsActive ? "Yes" : "No")</td>
        </tr>
    }

</table>

